<p>
<strong>文章标题:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>文章详情:</strong>
  <%= @article.text %>
</p>
<h2>评论列表</h2>
<%= render @article.comments %>
<h2>添加评论</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%=link_to 'back' , articles_path %>
| <%= link_to 'Edit', edit_article_path(@article) %>
